@charset "utf-8";


// Import fonts: 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Kanit:ital,wght@0,100;0,200;1,100;1,200&family=Nunito:wght@600&family=Prompt:wght@300&display=swap');
// // Set fonts
// $family-sans-serif: 'Prompt', sans-serif;
$family-primary: 'Lato', sans-serif;
// $family-secondary: 'Baloo 2', cursive;


// Brand colors

/* SCSS HEX */
$magnolia: #faf5fcff;
$space-cadet: #272447ff;
$new-york-pink: #cc7974ff;
$tumbleweed: #f1b184ff;
$medium-champagne: #ffe9a8ff;
$light-champagne: #fdf2d3;
$celadon: rgb(217, 245, 209);
$non-photo-blue: #96d7e5ff;
$maximum-blue-purple: #c3b4f1ff;
$maximum-blue-purple-light: #ebe6f9;


// Update global colors

$light: $magnolia;
$dark: $space-cadet;
$primary: $maximum-blue-purple;
$primary-light: $maximum-blue-purple-light;
$link: $non-photo-blue;
$info: $celadon;
$success: $medium-champagne;
$success-light: $light-champagne;
$warning: $tumbleweed;
$danger: $new-york-pink;
$link-hover: $maximum-blue-purple-light;


// Update some of Bulma's component variables
$body-background-color: $primary;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-item-hover-background-color: $primary-light;
$navbar-item-img-max-height: 5rem;
$hero-body-padding-large: 9rem 9rem;


$large-margin: 6rem;

// Margin Adjustments
$spacing-values: ("0": 0, "1": 0.25rem, "2": 0.5rem, "3": 0.75rem, 
  "4": 1rem, "5": 1.5rem, "6": 3rem, "large": $large-margin, "auto": auto);

.navbar {
  border-radius: 1rem;
}


@import "../node_modules/bulma/bulma.sass";


.navbar-item{
  @include tablet {
    margin-left: 2rem;
  }
}
  
.navbar-menu {
  height: 50%;
}


.home-background-image {
  @include tablet {
    //background-image: url(../images/background.svg);
    //background-size: 101% auto;
    //background-position: 50% 0%;
    //background-repeat: no-repeat;
  }
}

.parallax {
  /* The image used */
  background-image: url(../images/background.svg);

  /* Set a specific height */
  min-height: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-background-image {
  background-image: url(../images/nav_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.crop {
  //object-fit: cover;
  width:100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.hero-footer {
  vertical-align: bottom;
  width:100%;
}

.hero-header {
  vertical-align: top;
  width:100%;
}

.profile-image {
  border-radius: 2%;
}


// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: $blurple-light;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $blurple;
//   border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $blurple-dark;
// }